[submodule "ZenLib"]
	path = MediaLibs/ZenLib
	url = ssh://git@github.com/towel42-com/MediaArea-ZenLib.git
    branch = master
[submodule "zlib"]
	path = MediaLibs/zlib
	url = ssh://git@github.com/towel42-com/MediaArea-zlib.git
    ignore = all
    branch = develop
[submodule "MediaInfoLib"]
	path = MediaLibs/MediaInfoLib
    url = ssh://git@github.com/towel42-com/MediaInfoLib.git
    branch = master
